<section>
    <div class="inicio">
        <div class="presentation">
            <div class="img-profile">
                <img src="assets/imagenes/miguel.jpeg" alt="Foto de Miguel">
            </div>
            <h2>¡wubba lubba dub dub!</h2>
        </div>

        <div class="description">        
            <div class="texto">
                <h4><i class="fas fa-skull-crossbones"></i>    <p>¡Bienvenido a mi Portfolio!</p>    <i class="fas fa-skull-crossbones"></i></h4>
                <p>
                    ¡Hola! Me llamo Miguel Bordés y esta es mi web. Aquí podrás ver los proyectos
                    personales que he ido desarrollando en el tiempo que llevo como ilustrador,
                    además de diseñador gráfico.
                </p>
                <p>            
                    Llevo formándome en esta profesión desde 2018, que fue el año en el que decidí
                    cursar el grado superior de Diseño Gráfico que lo terminé en mayo de 2020.
                </p>
                <p class="last_text">
                    Si tienes alguna duda o sugerencia sobre el diseño, sobre los proyectos o cualquier cosa
                    no dudes en ponerte en contacto conmigo.
                </p>

                <div class="redes_sociales">
                    <a href="https://www.instagram.com/ozuka.art/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:miguelbordescollantes@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/miguel-bord%C3%A9s-748391209/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>                  
        </div>
    </div>
    
</section>