<div class="padre">
    <div class="hijo" id="ozuka">
        <div class="nieto">
            <p>
                Ozuka, imagen donde se representa la personalidad del personaje y que sirve como foto de perfil principal de nuestra cuenta de Instagram
            </p>
        </div>    
    </div>
    <div class="hijo" id="alien">
        <div class="nieto">
            <p>
                ¡¡ALIEN GANG!!
            </p>
        </div>        
    </div>
    <!-- <div class="hijo" id="cabezas">
        <div class="nieto">
            <p>
                ¿Qué quieres decir?
            </p>
        </div>        
    </div> -->
    <div class="hijo" id="darth1">
        <div class="nieto">
            <p>Me levanté hasta los huevos de vivir, te ví pasar y ahora ya vuelvo a sonreír</p>
        </div>        
    </div>
    <div class="hijo" id="darth2">
        <div class="nieto">
            <p>
                Cortado indebidamente puede ser mortal, pero cortado de forma correcta resulta ser delicioso
            </p>
        </div>        
    </div>
    <!-- <div class="hijo" id="hasbullah">
        <div class="nieto">
            <p>
                The power of Hasbullah.
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="oj-vinetas">
        <div class="nieto">
            <p>
                Viñeta O.J Donovan. Tiroteo en Philadelphia
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="oj">
        <div class="nieto">
            <p>
                O. J retrato.
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="ozuka-amarillo">
        <div class="nieto"></div>        
    </div> -->
    <div class="hijo" id="ozuka-gris">
        <div class="nieto">
            <p>
                Ozuka horizonte... I'm ready.
            </p>
        </div>        
    </div>
    <!-- <div class="hijo" id="ozuka-ojo">
        <div class="nieto"></div>        
    </div> -->
    <!-- <div class="hijo" id="ozuka-rojo">
        <div class="nieto">
            <p>
                Ozuka. Reflejo en si mismo de su propia naturaleza
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="pescaos">
        <div class="nieto"></div>        
    </div> -->
    <!-- <div class="hijo" id="punk-cuaderno">
        <div class="nieto">
            <p>
                Apocalypshit
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="punk-digital">
        <div class="nieto">
            <p>
                Apocalypshit
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="punk">
        <div class="nieto">
            <p>
                Todo es bonito, no hay sangre ni sufrimiento.
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="rana">
        <div class="nieto">
            <p>
                Érase un niño y una rana venenosa
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="Oj_web">
        <div class="nieto">
            <p>
                Vivo en un bucle de recuerdos espacio temporal, donde todo es siempre igual.
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="peces">
        <div class="nieto">
            <p>
                Vivo en un bucle de recuerdos espacio temporal, donde todo es siempre igual.
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="infierno">
        <div class="nieto">
            <p>
                Vivo en un bucle de recuerdos espacio temporal, donde todo es siempre igual.
            </p>
        </div>        
    </div> -->
    <!-- <div class="hijo" id="croac">
        <div class="nieto">
            <p>
                Vivo en un bucle de recuerdos espacio temporal, donde todo es siempre igual.
            </p>
        </div>        
    </div> -->
    <div class="hijo" id="chicaHell">
        <div class="nieto">
            <p>
                Una ruta por el infierno, que se está más calentito.
            </p>
        </div>        
    </div>
    <div class="hijo" id="chicaHell2">
        <div class="nieto">
            <p>
                ¿Quién se apunta?
            </p>
        </div>        
    </div>
    <div class="hijo" id="cabezasAzul">
        <div class="nieto">
            <p>
                - Estás mirando a la nada mientras todos hablan ¿En qué piensas?
           <br><br>
                - ¿Eh? ¿Qué quieres decir?
            </p>
        </div>        
    </div>
    <div class="hijo" id="pervertido">
        <div class="nieto">
            <p>
                Necesito esa mierda adictiva que se que me mata cada día más, pero me moriría ya mismo 
                si la dejo de probar!!
            </p>
        </div>        
    </div>
    <div class="hijo" id="hateme">
        <div class="nieto">
            <p>
                Decisiones estúpidas 24/7, ódiame como yo lo hago.
            </p>
        </div>        
    </div>
    <div class="hijo" id="kissass">
        <div class="nieto">
            <p>
                Apocalypshit sobre lienzo y mierda.
            </p>
        </div>        
    </div>
    <div class="hijo" id="hasbullah2">
        <div class="nieto">
            <p>
                The Power of Hasbullah.
            </p>
        </div>        
    </div>
    <div class="hijo" id="bucle">
        <div class="nieto">
            <p>
                Vivo en un bucle de recuerdos espacio temporal, donde todo es siempre igual.
            </p>
        </div>        
    </div>
    <div class="hijo" id="gluglu">
        <div class="nieto">
            <p>
                Gluglugluglu...
            </p>
        </div>        
    </div>
    <div class="hijo" id="cresta">
        <div class="nieto">
            <p>
                - No hay sangre ni monstruos horribles. 
           <br><br>
                - Aquí todo es felicidad y alegría!
            </p>
        </div>        
    </div>
</div>